@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");
body{
margin: auto;
color: #000000;
Margin-left:20px;
Margin-right:20px;
}
.header{
    display: block;
    margin: 0 auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.title{
    flex:1;
    margin: left 30px ;
    max-width: max-content;
}
.name{
    
}
.colar{
    
}
.qu{
    letter-spacing: 2;
}
.hrline{
border: 0;
    height: 1px;
    background: #333; /* Replace with your preferred color */
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
.colar2{
    color:rgb(180, 1, 132);
    font-size: 20px;
    display: block;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: initial;
    text-decoration: none;
    color: black;
}
.marginfix{
    margin-top: 30px;
}
.sname{
    font-size: 20px;
    line-height: 25px;
}
.stype{
    font-weight: 300;
    font-style: italic;
    line-height: 25px;
}
.sdes{
margin-top: 10px;
}
.THANKYOU{
    font-size: 20px;
    margin-left: 44%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: purple;
}
.border{
width: auto;

}
.marginfix1{
    margin-top: 30px;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}